.form {
  width: 100%;
}

.row {
  align-items: flex-end;
}

.fieldType {
  margin-bottom: 0;
}

.fieldName {
  margin-bottom: 0;
  min-width: 280px;
}

.fieldNumber {
  margin-bottom: 0;
}

.numberInput {
  width: 90px;
}
